* {
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    scroll-behavior: smooth
}

.main {
    width: 95vw;
    margin: 0 auto;
    font-weight: ;
}

.landing {
    width: 100%;
    height: 100vh;
}

.nav {
    width: 100%;
    height: 20%;
}

.nav .logo {
    padding: 2em 0 0 0;
    float: left;
}

.nav .menu {
    padding: 2em 0 0 0;
    float: right;
}

.nav .menu ul {
    list-style-type: none;
    text-align: right;
}

.landing-text {
    height: 80%;
    text-align: center;
}

.landing-text p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pageSection {
    min-height: 100vh;
}

.section-separator {
    width: 100%;
    height: 10vh;
    position: relative;
}

.section-separator-line {
    width: 20%;
    float: left;
}

.section-separator-line:before {
    content: '';
    position: absolute;
    left: 0;
    border-top: 1px solid black;
    background: black;
    width: 20%;
    transform: translateY(-50%);
    top: 15%;
}

.section-separator-text {
    position: relative;
    width: 90%;
    float: right;
    text-align: right;
}

.section-separator-text h2 {
    font-stretch: 125%;
    font-weight: 400;
}

.section-content {
    height: 80%;
}

.about-text h3 {
    font-stretch: 125% !important;
    font-weight: 400;
    font-size: 3.5em;
    padding-bottom: 1.5em;
}

.about-highlight-text {
    font-weight: 600;
    font-stretch: 125%;
    color: blueviolet;
}

.about-text p {
    font-weight: 400;
    font-stretch: 112.5%;
    font-size: 1.6em;
    padding-bottom: 4em;
}

.cta-wrapper {
    text-decoration: none;
}

.cta {
    border-radius: 100px;
    width: 15vw;
    background-color: blueviolet;
    text-align: center;
    height: 5vh;
}

.cta p {
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    position: relative;
    top: 49%;
    transform: translateY(-50%);
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.team-member {
    width: 100%;
    height: 50vh;
}

.team-member-image {
    height: 100%;
    width: 20%;
}

.team-member-image img {
    position: relative;
    top: 49%;
    transform: translateY(-50%);
    width: 100%;
}


.team-member-text {
    height: 100%;
    width: 80%;
}

.team-member-info {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    padding: 0 5vw 0 5vw;
}

.team-member-info h3 {
    font-weight: 600;
    font-stretch: 125%;
    font-size: 4em;
}

.team-member-info h3 {
    font-weight: 600;
    font-stretch: 125%;
    font-size: 4em;
}

.team-member-info p {
    padding-top: 2vh;
    font-weight: 400;
    font-stretch: 112.5%;
    font-size: 1.5em;
}

.memberStep {
    float: right;
    text-align: right;

}

.service-wrapper {
    width: 100%;
    padding-bottom: 10vh;
}

.service-separator-wrapper {
    width: 100%;
    float: left;
}

.service-separator {
    width: 20%;
    height: 5vh;
    padding-bottom: 5vh;
}

.service-separator-line, .service-separator-line-step {
    height: 100%;
    width: 80%;
}

.service-separator-line:after {
    content: '';
    width: 80%;
    height: 3px;
    background: black;
    display: block;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.service-separator-line-step:after {
    float: right;
    content: '';
    width: 80%;
    height: 3px;
    background: black;
    display: block;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.service-separator-indicator {
    height: 100%;
    width: 20%;
    border-radius: 100px;
    background-color: blueviolet;
}

.service-separator-indicator p {
    color: white;
    font-size: 2em;
    position: relative;
    top: 49%;
    transform: translateY(-50%);
    text-align: center;
}

.service h3 {
    font-weight: 600;
    font-stretch: 125%;
    font-size: 4em;
    padding-bottom: 4vh;
}

.service p {
    font-weight: 400;
    font-stretch: 112.5%;
    font-size: 1.5em;
}

.serviceStep {
    text-align: right;
}